@model EntitySignal.Controllers.DocumentationDisplayContainer
@{
  ViewData["Title"] = Model.Title;
  ViewData["ActiveNavItem"] = "Docs";
}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Documentation</h1>
        <hr />
        <br />
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <div class="list-group">
          @foreach (var doc in Model.Docs)
          {
            <a href="/documentation/@doc" class="list-group-item list-group-item-action @(doc == Model.RequestedDoc?"active":"")">@doc.Replace("-", " ")</a>
          }
        </div>
      </div>
      <div class="col-9">
        <p class="float-right">
          <a href="https://github.com/dustout/entitysignal/blob/master/EntitySignal/Docs/@(Model.RequestedDoc).md" class="btn btn-secondary"><i class="fas fa-edit"></i> Edit</a>
        </p>
        <h2>@Model.Title</h2>

        @Html.Raw(@Markdig.Markdown.ToHtml(Model.Markdown))
      </div>
    </div>
  </div>

